/* line 4, /Users/anna/Dysk Google/KOD/gifbot/app/assets/stylesheets/robots.css.scss */
body {
  background: #2e3033;
}

/* line 9, /Users/anna/Dysk Google/KOD/gifbot/app/assets/stylesheets/robots.css.scss */
h3 {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

